

Scale and convert images using PIL/.idea/
Scale and convert images using PIL/env/
Scale and convert images using PIL/images/
Scale and convert images using PIL/opt/icons/
Process Text Files with Python Dictionaries and Upload to Running Web Service/.idea/
Process Text Files with Python Dictionaries and Upload to Running Web Service/env/
Process Text Files with Python Dictionaries and Upload to Running Web Service/data/feedback/*
